<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title" th:text="${titulo}"></h4>

				<form th:action="@{/perfil/form}" th:object="${entity}"  method="post">
					
					<input type="hidden" th:field="${entity.id}" th:id="Id">
					
					<div class="form-group row">
						<label for="nombre" class="col-sm-3 col-form-label"
							th:text="'Nombre'"></label>
						<div class="col-sm-8">
							<input name="${entity.username}" th:value="${entity.username}"
								class="form-control" th:field="${entity.username}"/>
						</div>
					</div>
					
					<div class="form-group row">
						<label for="password" class="col-sm-3 col-form-label"
							th:text="'Contrasenia'"></label>
						<div class="col-sm-8">
							<input  name="password" th:value="${entity.password}" type="password"
								class="form-control" th:field="${entity.password}"/>
						</div>
					</div>
					
					<div class="form-group row">
						<label for="blog" class="col-sm-3 col-form-label"
							th:text="'Tipo de Usuario'"></label>
						<div class="col-sm-8">
							<select style="width: inherit;" th:field="${entity.rol}">
								<option th:each="item: ${list}" th:value="${item.key}"
									th:text="${item.value}"/>
							</select>
						</div>
					</div>


					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="${tituloBtn}"
								class="btn btn-success" />
						</div>
					</div>
				</form>
				
				<form id="logoutForm" th:action="@{/logout}" method="post">
					<button class="btn btn-warning	" onclick="document.getElementById('logoutForm').submit();" type="submit">Es necesario Reiniciar Session para efectuar los cambios</button>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				</form>


			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>